<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
      <remove name="PHP53_via_FastCGI" />
      <add name="PHP53_via_FastCGI" path="*.php" verb="GET,PUT,POST,DELETE,HEAD,OPTIONS,TRACE,PROPFIND,PROPPATCH,MKCOL,COPY,MOVE,LOCK,UNLOCK" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <!-- Rules for Get Users -->
                <rule name="Get Researchers" stopProcessing="true">
                    <match url="^api/researchers/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/researchers.php"  />
                </rule>
                <rule name="Get a Researcher" stopProcessing="true">
                    <match url="^api/researchers/([@./a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/researchers.php?researchers={R:1}"  />
                </rule>

                <!-- Rule to Insert Users -->


                <!-- Rules for Get research -->
                <rule name="Get Research" stopProcessing="true">
                    <match url="^api/researchs/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/researchs.php"  />
                </rule>
                <rule name="Get a Research" stopProcessing="true">
                    <match url="^api/researchs/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/research.php?research={R:1}"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>